In [24]:
#dependencies 

import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 500)
from sklearn.datasets import make_classification
# evaluate lightgbm algorithm for classification
from numpy import mean
from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from lightgbm import LGBMClassifier

ModuleNotFoundError: No module named 'lightgbm'

In [25]:
#!pip install lightgbm

Collecting lightgbm
  Using cached lightgbm-3.3.2-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: scipy in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: wheel in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: numpy in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dbrunik\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2

In [19]:
recipes_df = pd.read_csv('final_recipes_dataset _ML.csv', encoding='latin-1')
recipes_df.head()

   Style_Family_ID  StyleID     OG     FG   ABV    IBU  Color
0                1        9  1.040  1.007  4.41  14.69   2.48
1                1        9  1.033  1.008  3.32   5.55   2.34
2                1        9  1.048  1.012  4.74  13.95   2.92
3                1        9  1.038  1.006  4.17  10.32   2.37
4                1        9  1.049  1.012  4.78   5.54   3.94

In [22]:
y = recipes_df[['Style_Family_ID']]
X = recipes_df[['FG','OG','ABV','IBU','Color']]

       Style_Family_ID  StyleID     OG     FG   ABV    IBU  Color
0                    1        9  1.040  1.007  4.41  14.69   2.48
1                    1        9  1.033  1.008  3.32   5.55   2.34
2                    1        9  1.048  1.012  4.74  13.95   2.92
3                    1        9  1.038  1.006  4.17  10.32   2.37
4                    1        9  1.049  1.012  4.78   5.54   3.94
...                ...      ...    ...    ...   ...    ...    ...
51048                3      133  1.056  1.014  5.45   6.72  15.87
51049                3      133  1.087  1.022  8.52   7.56  17.93
51050                3      133  1.074  1.019  7.30  16.56  16.62
51051                3      133  1.073  1.010  8.69  19.66   7.28
51052                3      133  1.096  1.025  9.28  34.31  43.61

[51053 rows x 7 columns]